<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Configurations.plist
   MVVMDemo

   Created by Nguyen Thanh Hai on 11/7/16.
   Copyright (c) 2016 LCL. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
